In [1]:
#import the dependencies
import pandas as pd
import gmaps
import requests
#import the api key
from config import g_key

In [2]:
#store the csv you saved from prt one into a DataFrame
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-14 21:33:28,-23.1203,-134.9692,77.83,69,27,17.36
1,1,Hilo,US,2022-04-14 21:33:28,19.7297,-155.0900,82.27,77,75,8.05
2,2,Port Alfred,ZA,2022-04-14 21:33:29,-33.5906,26.8910,65.17,90,99,5.99
3,3,Sansepolcro,IT,2022-04-14 21:33:29,43.5747,12.1430,51.30,72,100,3.76
4,4,Cockburn Town,TC,2022-04-14 21:33:29,21.4612,-71.1419,77.54,82,20,23.15

In [3]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
#configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

#heatmap of temperature
#get the latitude and longitude
locations = city_data_df[["Lat","Lng"]]
#get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))
#assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations,weights=temps,dissipating=False,max_intensity=300,point_radius=4)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#heatmap of percent humidity
locations=city_data_df[["Lat","Lng"]]
humidity=city_data_df["Humidity"]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#heatmap of percent cloudiness
locations=city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#heatmap of wind speed
locations=city_data_df[["Lat", "Lng"]]
winds=city_data_df["Wind Speed"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=winds,dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
#ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
#filter the dataset to find the cities that fit the criteria
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-14 21:33:28,-23.1203,-134.9692,77.83,69,27,17.36
1,1,Hilo,US,2022-04-14 21:33:28,19.7297,-155.0900,82.27,77,75,8.05
4,4,Cockburn Town,TC,2022-04-14 21:33:29,21.4612,-71.1419,77.54,82,20,23.15
7,7,Kloulklubed,PW,2022-04-14 21:33:30,7.0419,134.2556,77.50,76,100,10.42
14,14,Bambanglipuro,ID,2022-04-14 21:33:32,-7.9500,110.2833,75.56,87,79,4.14
18,18,Coahuayana,MX,2022-04-14 21:33:33,18.7333,-103.6833,87.22,42,100,7.11
21,21,Kapaa,US,2022-04-14 21:29:43,22.0752,-159.3190,82.38,76,75,11.50
23,23,Itacarambi,BR,2022-04-14 21:33:35,-15.1022,-44.0919,77.81,71,90,3.47
27,27,Isangel,VU,2022-04-14 21:33:35,-19.5500,169.2667,84.31,84,40,2.30
28,28,Vaini,TO,2022-04-14 21:33:36,-21.2000,-175.2000,82.56,89,40,8.05

In [18]:
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [20]:
#create DataFrame called hotel_df to store thotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0         Rikitea      PF     77.83 -23.1203 -134.9692
1            Hilo      US     82.27  19.7297 -155.0900
4   Cockburn Town      TC     77.54  21.4612  -71.1419
7     Kloulklubed      PW     77.50   7.0419  134.2556
14  Bambanglipuro      ID     75.56  -7.9500  110.2833
18     Coahuayana      MX     87.22  18.7333 -103.6833
21          Kapaa      US     82.38  22.0752 -159.3190
23     Itacarambi      BR     77.81 -15.1022  -44.0919
27        Isangel      VU     84.31 -19.5500  169.2667
28          Vaini      TO     82.56 -21.2000 -175.2000

In [32]:
#set parameters to search for a hotel
params = {"radius": 8000,
         "type": "lodging",
         "key": g_key}

In [33]:
#iterate through the DataFrame
for index, row in hotel_df.iterrows():
    #get the latitude and longitude into location key for the params dictionary
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat},{lng}"
    
    #use the search term: "lodging" and our latitude and longitude
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #make request and get the JSON data from the search
    hotels=requests.get(base_url,params=params).json()
    #grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError, NameError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(25)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,77.83,-23.1203,-134.9692,People ThankYou
1,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
4,Cockburn Town,TC,77.54,21.4612,-71.1419,Osprey Beach Hotel
7,Kloulklubed,PW,77.50,7.0419,134.2556,Storyboard Beach Resort
14,Bambanglipuro,ID,75.56,-7.9500,110.2833,Puri Brata
18,Coahuayana,MX,87.22,18.7333,-103.6833,El rranchito michuacan de ocampos
21,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Itacarambi,BR,77.81,-15.1022,-44.0919,POUSADA CAMALEÃO
27,Isangel,VU,84.31,-19.5500,169.2667,Tanna Lodge
28,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
29,Avarua,CK,80.65,-21.2078,-159.7750,Sunset Resort
32,Manaure,CO,87.57,11.7751,-72.4445,Hotel Palaaima
33,Butaritari,KI,81.25,3.0707,172.7902,Isles Sunset Lodge
37,Mahebourg,MU,78.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
38,Hithadhoo,MV,83.19,-0.6000,73.0833,Scoop Guest House
40,Saint-Philippe,RE,78.39,-21.3585,55.7679,p'ti case d'éléna
44,Pimenta Bueno,BR,75.60,-11.6725,-61.1936,Cristalina Palace Hotel
45,Salalah,OM,80.69,17.0151,54.0924,Al Jabal
47,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
53,Nabire,ID,77.09,-3.3667,135.4833,Hotel Nusantara I
56,Atuona,PF,78.17,-9.8000,-139.0333,Villa Enata
59,Cedral,MX,84.92,23.8000,-100.7333,Hotel Rocio
60,Sohag,EG,75.49,26.5570,31.6948,Civil Registry - Sohag 1
62,Meulaboh,ID,76.69,4.1363,96.1285,Kost Pria
65,Georgetown,MY,78.73,5.4112,100.3354,Cititel Penang

In [38]:
#add a heatmap of temperature for the vacation spots
locations=hotel_df[["Lat","Lng"]]
max_temp=hotel_df["Max Temp"]
#store the DataFrame row
info_box_template = """
<d1>
<dt>Hotel Name</dt><dd>{Hotel Name}<dd>
<dt>City</dt><dd>{City}<dd/>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</d1>
"""
hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]

fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=max_temp, dissipating=False,max_intensity=300,point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))